In [1]:
with open('./demo.csv') as f:
    file_data = f.readlines()
    print(file_data)

['张三,同事,13511112222\n', '李四,朋友,13900001111\n', '王武,同事,18912344321']

In [3]:
! pip3 install tinydb
from tinydb import TinyDB

Requirement already satisfied: tinydb in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (4.7.1)

In [5]:
db = TinyDB('./db.json')

friend_1 = {'name': file_data[0].split(',')[0], 'source': file_data[0].split(',')[1], 'tel': file_data[0].split(',')[2].strip()}
friend_2 = {'name': file_data[1].split(',')[0], 'source': file_data[1].split(',')[1], 'tel': file_data[1].split(',')[2].strip()}
friend_3 = {'name': file_data[2].split(',')[0], 'source': file_data[2].split(',')[1], 'tel': file_data[2].split(',')[2].strip()}

db.insert_multiple([
    friend_1,
    friend_2,
    friend_3,
])

[1, 2, 3]

In [6]:
db.all()

[{'name': '张三', 'source': '同事', 'tel': '13511112222'},
 {'name': '李四', 'source': '朋友', 'tel': '13900001111'},
 {'name': '王武', 'source': '同事', 'tel': '18912344321'}]

In [7]:
from tinydb import Query
friend = Query()
friend_info = db.search(friend.name == "张三")

print(friend_info)

[{'name': '张三', 'source': '同事', 'tel': '13511112222'}]